<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<h2>View Stock</h2>
<body [class.makeblur]='loading'>
    <div class="alertWrapper">
        <div *ngIf="errorAlert">
            <nb-alert class="alert-center" status="danger">
                <div class="alertMessage">
                    <div class="msgDiv">{{message}}</div>
                    <div class="msgDiv closeDiv">
                        <a (click)="closeMessage()"><nb-icon icon="close-outline"></nb-icon></a>
                    </div>
                </div>
            </nb-alert>
        </div>
        <div *ngIf="successAlert">
            <nb-alert class="alert-center" status="success">
                <div class="alertMessage">
                    <div class="msgDiv">{{message}}</div>
                    <div class="msgDiv closeDiv">
                        <a (click)="closeMessage()"><nb-icon icon="close-outline"></nb-icon></a>
                    </div>
                </div>
            </nb-alert>
        </div>
    </div>
    
    <div class="datatableWrapper">
        <table id="datatable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered nowrap">
            <thead >
                <tr>
                    <th>Item name</th>
                    <th>Group</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Defective</th>
                    <th>Dead</th>
                    <th>Challan number</th>
                    <th>Date</th>
                    <th>City</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="stockList.length > 0">
                <tr *ngFor="let stock of stockList">
                    <td>{{stock.Item.ItemName}}</td>
                    <td>{{stock.Item.ItemGroup.GroupName}}</td>
                    <td>{{stock.Quantity}}</td>
                    <td>{{total[stock.Item.ItemID]}}</td>
                    <td>{{stock.Defective}}</td>
                    <td>{{stock.Dead}}</td>
                    <td>{{stock.ChallanNumber}}</td>
                    <td>{{stock.Date | date:'dd-MM-yyyy'}}</td>
                    <td>{{stock.City.CityName}}</td>
                    <td>
                        <a (click)="editStock(stock)" [class.disabled]="role == 'engineer'">
                            <!-- <i class="fas fa-edit" title="Update"></i> -->
                            <nb-icon icon="edit-outline" title="Update"></nb-icon>
                        </a>
                        <a (click)="deleteStock(stock.StockID, stock.Item.ItemName)" [class.disabled]="role == 'engineer'">
                            <!-- <i class="fas fa-trash-alt" title="Delete"></i> -->
                            <nb-icon icon="trash-2-outline" title="Delete"></nb-icon>
                        </a>
                        <a *ngIf="stock.ChallanNumber == defectiveChallanNumber" (click)="sendForRepair(stock)" [class.disabled]="role == 'engineer'">
                            <nb-icon icon="settings-2-outline" title="Send for repair"></nb-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>
