<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>

<div *ngIf="isAddPage">
    <h2>Add Engineer</h2>
</div>
<div *ngIf="!isAddPage">
    <h2>Update Engineer</h2>
</div>

<body [class.makeblur]='loading'>
    <nb-card>
        <nb-card-body>
            <form #addengineerform=ngForm>
                <div class="alertWrapper">
                    <div *ngIf="errorAlert">
                        <nb-alert class="alert-center" status="danger">
                            <div class="alertMessage">
                                <div class="msgDiv">{{message}}</div>
                                <div class="msgDiv closeDiv">
                                    <a (click)="closeMessage()"><nb-icon icon="close-outline"></nb-icon></a>
                                </div>
                            </div>
                        </nb-alert>
                    </div>
                    <div *ngIf="successAlert">
                        <nb-alert class="alert-center" status="success">
                            <div class="alertMessage">
                                <div class="msgDiv">{{message}}</div>
                                <div class="msgDiv closeDiv">
                                    <a (click)="closeMessage()"><nb-icon icon="close-outline"></nb-icon></a>
                                </div>
                            </div>
                        </nb-alert>
                    </div>
                </div>
                <div class="mandate-notify">
                    <sup>*</sup>&nbsp;Mandatory fields
                </div>
            
                <div class="form-group row">
                    <label for="engineerName" class="label col-sm-3 col-form-label">Engineer name<sup>*</sup></label>
                    <div class="col-sm-6">
                        <input type="text" id="engineerName" nbInput fullWidth placeholder="Engineer name" name="engineerName" #engineerName=ngModel [(ngModel)]="engineer.EngineerName" required>
                        <div *ngIf="engineerName.invalid && (engineerName.dirty || engineerName.touched)" class="validate">
                            <div *ngIf="engineerName.errors.required">
                                Engineer name is required.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="emailId" class="label col-sm-3 col-form-label">Email ID<sup>*</sup></label>
                    <div class="col-sm-6">
                        <input type="email" id="emailId" nbInput fullWidth placeholder="abc@xyz.com" name="emailId" #emailId=ngModel [(ngModel)]="engineer.EmailID" required>
                        <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="validate">
                            <div *ngIf="emailId.errors.required">
                                Email ID is required.
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="role" class="label col-sm-3 col-form-label">Role</label>
                    <div class="demo-items col-sm-6">
                        <nb-radio-group id="role" [(value)]="engineer.Role">
                            <nb-radio [value]="'admin'">Admin</nb-radio>
                            <nb-radio [value]="'engineer'">Engineer</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>

                <div class="form-group row offset-sm-3">
                    <div *ngIf="isAddPage">
                        <button type="submit" nbButton status="primary" (click)="addEngineer()" [disabled]="addengineerform.invalid || loading">Add</button>
                    </div>
                    <div *ngIf="!isAddPage">
                        <button type="submit" nbButton status="primary" (click)="addEngineer()" [disabled]="addengineerform.invalid || loading">Update</button>
                    </div>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</body>
</html>
