sup{
    color:red;
    padding-left: 5px; 
}
.mandate-notify{
    text-align: right;
    color: red;
    padding-right: 10px;
}
.alertWrapper{
    margin-left: 140px;
    margin-right: 140px;
    padding-top:10px;
}
.alert-center{
    text-align: center;
    border-radius: 25px;
}
.alert{
    text-align: center;
    border-radius: 25px;
    border-style: solid !important;
    border-width: 2px !important;
    color: black;
    //height:50px;
}
.alert-danger{
    background-color: #ee978e;
    border-color: red !important;
}
.alert-success{
    background-color: lightgreen;
    border-color: green !important;
}
.alertMessage{
    text-align: center;
}
.msgDiv{
    display: inline-block;
}
.closeDiv{
    height:30px;
    width:20px;
    float: right;
}
.validate{
    color:red;
    font-size: small;
    text-align: left;
}
label{
    text-align: right;    
}
.form-control-sm{
    width:100%;
}
.btn{
    width: 100px;
    border-radius: 0%;
}

#datatable{
    width: 100%;
}
.datatableWrapper{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.demo-items {
    flex: 1 0 33%;
}
.makeblur{
    opacity: 0.4;
    z-index: 0;
}

.disabled{
    opacity: 0.1;
    pointer-events: none;
}

  