<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<div *ngIf="isAddPage">
    <h2>Allocate Item</h2>
</div>
<div *ngIf="!isAddPage">
    <h2>Update Allocation</h2>
</div>
<body [class.makeblur]='loading'>
    <nb-card>
        <nb-card-body>
            <form #allocateform=ngForm>
                <div class="alertWrapper">
                    <div *ngIf="errorAlert">
                        <nb-alert class="alert-center" status="danger">
                            <div class="alertMessage">
                                <div class="msgDiv">{{message}}</div>
                                <div class="msgDiv closeDiv">
                                    <a (click)="closeMessage()"><nb-icon icon="close-outline"></nb-icon></a>
                                </div>
                            </div>
                        </nb-alert>
                    </div>
                    <div *ngIf="successAlert">
                        <nb-alert class="alert-center" status="success">
                            <div class="alertMessage">
                                <div class="msgDiv">{{message}}</div>
                                <div class="msgDiv closeDiv">
                                    <a (click)="closeMessage()"><nb-icon icon="close-outline"></nb-icon></a>
                                </div>
                            </div>
                        </nb-alert>
                    </div>
                </div>
                <div class="mandate-notify">
                    <sup>*</sup>&nbsp;Mandatory fields
                </div>
                
                <div class="form-group row">
                    <label for="engineerName" class="label col-sm-3 col-form-label">Engineer name<sup>*</sup></label>
                    <div class="col-sm-6">
                        <select class="form-control-sm" id="engineerName" name="engineerName" #engineerName=ngModel [ngModel]="allocationDetail.Engineer.EngineerID" (ngModelChange)="onEngineerChange($event)">
                            <option *ngFor="let engineer of engineerList" [value]="engineer.EngineerID">{{engineer.EngineerName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="itemName" class="label col-sm-3 col-form-label">Item name</label>
                    <div class="col-sm-6">
                        <select class="form-control-sm" id="itemName" name="itemName" #itemName=ngModel [ngModel]="allocationDetail.Item.ItemID" (ngModelChange)="onItemChange($event)">
                            <option *ngFor="let item of itemList" [value]="item.ItemID">{{item.ItemName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cityName" class="label col-sm-3 col-form-label">City</label>
                    <div class="col-sm-6">
                        <select class="form-control-sm" id="cityName" name="cityName" #cityName=ngModel [ngModel]="allocationDetail.City.CityID" (ngModelChange)="onCityChange($event)">
                            <option *ngFor="let city of cityList" [value]="city.CityID">{{city.CityName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="quantity" class="label col-sm-3 col-form-label">Quantity<sup>*</sup></label>
                    <div class="col-sm-6">
                        <input type="number" id="quantity" nbInput fullWidth placeholder="Quantity to be allocated" class="form-control-sm" name="quantity" #quantity=ngModel [(ngModel)]="allocationDetail.QuantityAllocated" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                        <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="validate">
                            <div *ngIf="quantity.errors.required">
                                Quantity is required.
                            </div>
                        </div>
                        <div *ngIf="allocationDetail.QuantityAllocated == 0" class="validate">
                            Quantity cannot be 0 ! 
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="date" class="label col-sm-3 col-form-label">Date</label>
                    <div class="col-sm-6">
                        <input type="date" id="date" nbInput fullWidth name="date" max={{todayDate}} #date=ngModel [ngModel]="allocationDetail.AllocationDate | date: 'yyyy-MM-dd'" (ngModelChange)="allocationDetail.AllocationDate=$event" required>
                        <div *ngIf="date.invalid && (date.dirty || date.touched)" class="validate">
                            <div *ngIf="date.errors.required">
                                Date is required.
                            </div>
                        </div>
                        <div *ngIf="allocationDate > todayDate" class="validate">
                            Please select a valid date.  
                        </div>
                    </div>
                </div>
                
                <div class="form-group row offset-sm-3">
                    <div *ngIf="isAddPage">
                        <button type="submit" nbButton status="primary" (click)="allocateItem()" [disabled]="allocateform.invalid || loading">Allocate</button>
                    </div>
                    <div *ngIf="!isAddPage">
                        <button type="submit" nbButton status="primary" (click)="allocateItem()" [disabled]="allocateform.invalid || loading">Update</button>
                    </div>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</body>
</html>
