<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<h2>Allocate Item</h2>
<body>
    <nb-card>
        <nb-card-body>
            <form #allocateform=ngForm>
                <div class="alertWrapper">
                    <div *ngIf="errorAlert">
                        <nb-alert class="alert-center" status="danger">
                            <p>
                                {{message}}<a class="close" (click)="closeMessage()"><nb-icon icon="close-outline"></nb-icon></a>
                            </p>
                        </nb-alert>
                    </div>
                    <div *ngIf="successAlert">
                        <nb-alert class="alert-center" status="success">
                            <p>
                                {{message}}<a class="close" (click)="closeMessage()"><nb-icon icon="close-outline"></nb-icon></a>
                            </p>
                        </nb-alert>
                    </div>
                </div>
                <div class="mandate-notify">
                    <sup>*</sup>&nbsp;Mandatory fields
                </div>
                
                <div class="form-group row">
                    <label for="engineerName" class="label col-sm-3 col-form-label">Engineer name<sup>*</sup></label>
                    <div class="col-sm-6">
                        <nb-select fullWidth id="engineerName" name="engineerName" #engineerName=ngModel [ngModel]="allocationDetail.Engineer.EngineerID" (ngModelChange)="onEngineerChange($event)">
                            <nb-option *ngFor="let engineer of engineerList" [value]="engineer.EngineerID">{{engineer.EngineerName}}</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="itemName" class="label col-sm-3 col-form-label">Item name<sup>*</sup></label>
                    <div class="col-sm-6">
                        <nb-select fullWidth id="itemName" name="itemName" #itemName=ngModel [ngModel]="allocationDetail.Item.ItemID" (ngModelChange)="onItemChange($event)">
                            <nb-option *ngFor="let item of itemList" [value]="item.ItemID">{{item.ItemName}}</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cityName" class="label col-sm-3 col-form-label">City<sup>*</sup></label>
                    <div class="col-sm-6">
                        <nb-select fullWidth id="cityName" name="cityName" #cityName=ngModel [ngModel]="allocationDetail.City.CityID" (ngModelChange)="onCityChange($event)">
                            <nb-option *ngFor="let city of cityList" [value]="city.CityID">{{city.CityName}}</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="quantity" class="label col-sm-3 col-form-label">Quantity<sup>*</sup></label>
                    <div class="col-sm-6">
                        <input type="number" id="quantity" nbInput fullWidth placeholder="Quantity to be allocated" class="form-control-sm" name="quantity" #quantity=ngModel [(ngModel)]="allocationDetail.QuantityAllocated" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                        <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="validate">
                            <div *ngIf="quantity.errors.required">
                                Quantity is required.
                            </div>
                        </div>
                        <div *ngIf="allocationDetail.QuantityAllocated == 0" class="validate">
                            Quantity cannot be 0 ! 
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="date" class="label col-sm-3 col-form-label">Date<sup>*</sup></label>
                    <div class="col-sm-6">
                        <input type="date" id="date" nbInput fullWidth class="form-control-sm" name="date" max={{todayDate}} #date=ngModel [ngModel]="allocationDetail.AllocationDate | date: 'yyyy-MM-dd'" (ngModelChange)="allocationDetail.AllocationDate=$event" required>
                        <div *ngIf="date.invalid && (date.dirty || date.touched)" class="validate">
                            <div *ngIf="date.errors.required">
                                Date is required.
                            </div>
                        </div>
                        <div *ngIf="allocationDate > todayDate" class="validate">
                            Please select a valid date.  
                        </div>
                    </div>
                </div>
                
                <div class="form-group row offset-sm-3">
                    <button type="submit" nbButton status="primary" (click)="allocateItem()" [disabled]="allocateform.invalid">Allocate</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</body>
</html>
