<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<div *ngIf="isAddPage">
    <h2>Report Usage</h2>
</div>
<div *ngIf="!isAddPage">
    <h2>Update Usage</h2>
</div>
<body [class.makeblur]='loading'>
    <nb-card>
        <nb-card-body>
            <form #reportusage=ngForm>
                <div class="alertWrapper">
                    <div *ngIf="errorAlert">
                        <nb-alert class="alert-center" status="danger">
                            <div class="alertMessage">
                                <div class="msgDiv">{{message}}</div>
                                <div class="msgDiv closeDiv">
                                    <a (click)="closeMessage()"><nb-icon icon="close-outline"></nb-icon></a>
                                </div>
                            </div>
                        </nb-alert>
                    </div>
                    <div *ngIf="successAlert">
                        <nb-alert class="alert-center" status="success">
                            <div class="alertMessage">
                                <div class="msgDiv">{{message}}</div>
                                <div class="msgDiv closeDiv">
                                    <a (click)="closeMessage()"><nb-icon icon="close-outline"></nb-icon></a>
                                </div>
                            </div>
                        </nb-alert>
                    </div>
                </div>
                <div class="mandate-notify">
                    <sup>*</sup>&nbsp;Mandatory fields
                </div>
                
                <div class="form-group row">
                    <label for="engineerName" class="label col-sm-3 col-form-label">Engineer name</label>
                    <div class="col-sm-6">
                        <select class="form-control-sm" id="engineerName" name="engineerName" #engineerName=ngModel [ngModel]="usageDetail.Engineer.EngineerID" (ngModelChange)="onEngineerChange($event)">
                            <option *ngFor="let engineer of engineerList" [value]="engineer.EngineerID">{{engineer.EngineerName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="itemName" class="label col-sm-3 col-form-label">Item name</label>
                    <div class="col-sm-6">
                        <select class="form-control-sm" id="itemName" name="itemName" #itemName=ngModel [ngModel]="usageDetail.Item.ItemID" (ngModelChange)="onItemChange($event)">
                            <option *ngFor="let item of itemList" [value]="item.ItemID">{{item.ItemName}}<option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="quantity" class="label col-sm-3 col-form-label">Quantity<sup>*</sup></label>
                    <div class="col-sm-6">
                        <input type="number" id="quantity" nbInput fullWidth placeholder="Quantity used" name="quantity" #quantity=ngModel [(ngModel)]="usageDetail.QuantityUsed" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                        <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="validate">
                            <div *ngIf="quantity.errors.required">
                                Quantity is required.
                            </div>
                        </div>
                        <div *ngIf="usageDetail.QuantityUsed == 0" class="validate">
                            Quantity cannot be 0 ! 
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="warranty" class="label col-sm-3 col-form-label">Warranty</label>
                    <div class="demo-items col-sm-6">
                        <nb-radio-group id="warranty" [(value)]="usageDetail.Warranty">
                            <nb-radio [value]="'true'">Warranted</nb-radio>
                            <nb-radio [value]="'false'">Unwarranted</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="billno" class="label col-sm-3 col-form-label">Bill Number<sup>*</sup></label>
                    <div class="col-sm-6">
                        <input type="number" id="billno" nbInput fullWidth placeholder="Bill number" name="billno" #billno=ngModel [(ngModel)]="usageDetail.BillNumber" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                        <div *ngIf="billno.invalid && (billno.dirty || billno.touched)" class="validate">
                            <div *ngIf="billno.errors.required">
                                Bill number is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="amount" class="label col-sm-3 col-form-label">Amount</label>
                    <div class="col-sm-6">
                        <input type="number" id="amount" nbInput fullWidth placeholder="Amount in Rs" name="amount" #amount=ngModel [(ngModel)]="usageDetail.Amount" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="service" class="label col-sm-3 col-form-label">Service charge</label>
                    <div class="col-sm-6">
                        <input type="number" id="service" nbInput fullWidth placeholder="Service charge in Rs" name="service" #service=ngModel [(ngModel)]="usageDetail.ServiceCharge" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="itemName" class="label col-sm-3 col-form-label">Date</label>
                    <div class="col-sm-6">
                        <input type="date" id="date" nbInput fullWidth name="date" max={{todayDate}} #date=ngModel [ngModel]="usageDetail.UsageDate | date: 'yyyy-MM-dd'" (ngModelChange)="usageDetail.UsageDate=$event" required>
                        <div *ngIf="date.invalid && (date.dirty || date.touched)" class="validate">
                            <div *ngIf="date.errors.required">
                                Date is required.
                            </div>
                            <div *ngIf="usageDate > todayDate" class="validate">
                                Please select a valid date.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="partyName" class="label col-sm-3 col-form-label">Party name<sup>*</sup></label>
                    <div class="col-sm-6">
                        <input type="text" id="partyName" nbInput fullWidth placeholder="Name of the party" name="partyName" #partyName=ngModel [(ngModel)]="usageDetail.PartyName" required>
                        <div *ngIf="partyName.invalid && (partyName.dirty || partyName.touched)" class="validate">
                            <div *ngIf="partyName.errors.required">
                                Party name is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cityName" class="label col-sm-3 col-form-label">City</label>
                    <div class="col-sm-6">
                        <select class="form-control-sm" id="cityName" name="cityName" #cityName=ngModel [ngModel]="usageDetail.City.CityID" (ngModelChange)="onCityChange($event)">
                            <option *ngFor="let city of cityList" [value]="city.CityID">{{city.CityName}}</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group row offset-sm-3">
                    <div *ngIf="isAddPage">
                        <button type="submit" nbButton status="primary" (click)="reportUsage()" [disabled]="reportusage.invalid || loading">Report</button>
                    </div>
                    <div *ngIf="!isAddPage">
                        <button type="submit" nbButton status="primary" (click)="reportUsage()" [disabled]="reportusage.invalid || loading">Update</button>
                    </div>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</body>
</html>
