<nb-layout>
    <nb-layout-column>
        <body [class.makeblur]='loading'>
            <div class="cardContainer">
                <nb-card>
                    <nb-card-header class="card-header">
                        <a class="back" href="{{hostUrl}}#/auth/login">
                            <nb-icon icon="arrow-back"></nb-icon>
                        </a>
                        Inventory Management
                    </nb-card-header>
                    <nb-card-body>
                        <form #resetpasswordform=ngForm>
                            <div *ngIf="isSendEmailPage" class="form-group row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <input type="email" id="emailIdText" nbInput fullWidth placeholder="Email ID" name="emailIdText" #emailIdText=ngModel [(ngModel)]="emailId" required>
                                    <div *ngIf="emailIdText.invalid && (emailIdText.dirty || emailIdText.touched)" class="validate">
                                        <div *ngIf="emailIdText.errors?.required">
                                            Email ID is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="isResetPassword" class="form-group row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <input type="password" id="passwordText" nbInput fullWidth placeholder="Password" name="passwordText" #passwordText=ngModel [(ngModel)]="password" required>
                                    <div *ngIf="passwordText.invalid && (passwordText.dirty || passwordText.touched)" class="validate">
                                        <div *ngIf="passwordText.errors?.required">
                                            Password is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="isResetPassword" class="form-group row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <input type="password" id="confirmpasswordText" nbInput fullWidth placeholder="Confirm Password" name="confirmpasswordText" #confirmpasswordText=ngModel [(ngModel)]="confirmPassword" required>
                                    <div *ngIf="confirmpasswordText.invalid && (confirmpasswordText.dirty || confirmpasswordText.touched)" class="validate">
                                        <div *ngIf="confirmpasswordText.errors?.required">
                                            Confirm Password is required.
                                        </div>
                                    </div>
                                    <div *ngIf="password != confirmPassword" class="validate">
                                        Password and Confirm Password do not match.  
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group row offset-sm-5">
                                <div *ngIf="isResetPassword">
                                    <button type="submit" nbButton status="primary" (click)="resetPassword()"
                                        [disabled]="resetpasswordform.invalid || loading">Reset</button>
                                </div>
                                <div *ngIf="isSendEmailPage">
                                    <button type="submit" nbButton status="primary" (click)="resetPassword()"
                                        [disabled]="resetpasswordform.invalid || loading">Send Email</button>
                                </div>
                            </div>
                        
                            <div *ngIf="errorAlert" class="validate-login errMsg">
                                {{message}}
                            </div>
                            <div *ngIf="successAlert" class="validate-login succMsg">
                                {{message}}
                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
            </div>
        </body>
    </nb-layout-column>
</nb-layout>