<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>

<div *ngIf="isAddPage">
    <h2>Add Item</h2>
</div>
<div *ngIf="!isAddPage">
    <h2>Update Item</h2>
</div>

<body [class.makeblur]='loading'>
    <nb-card>
        <nb-card-body>
            <form #additemform=ngForm>
                <div class="alertWrapper">
                    <div *ngIf="errorAlert">
                        <nb-alert class="alert-center" status="danger">
                            <div class="alertMessage">
                                <div class="msgDiv">{{message}}</div>
                                <div class="msgDiv closeDiv">
                                    <a (click)="closeMessage()"><nb-icon icon="close-outline"></nb-icon></a>
                                </div>
                            </div>
                        </nb-alert>
                    </div>
                    <div *ngIf="successAlert">
                        <nb-alert class="alert-center" status="success">
                            <div class="alertMessage">
                                <div class="msgDiv">{{message}}</div>
                                <div class="msgDiv closeDiv">
                                    <a (click)="closeMessage()"><nb-icon icon="close-outline"></nb-icon></a>
                                </div>
                            </div>
                        </nb-alert>
                    </div>
                </div>
                <div class="mandate-notify">
                    <sup>*</sup>&nbsp;Mandatory fields
                </div>
            
                <div class="form-group row">
                    <label for="itemName" class="label col-sm-3 col-form-label">Item name<sup>*</sup></label>
                    <div class="col-sm-6">
                        <input type="text" id="itemName" nbInput fullWidth placeholder="Item name" name="itemName" #itemName=ngModel [(ngModel)]="item.ItemName" required>
                        <div *ngIf="itemName.invalid && (itemName.dirty || itemName.touched)" class="validate">
                            <div *ngIf="itemName.errors.required">
                                Item name is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="groupName" class="label col-sm-3 col-form-label">Group</label>
                    <div class="col-sm-6">
                        <select class="form-control-sm" id="groupName" name="groupName" #groupName=ngModel [ngModel]="item.ItemGroup.GroupID" (ngModelChange)="onGroupChange($event)">
                            <option *ngFor="let group of groupList" [value]="group.GroupID">{{group.GroupName}}</option>
                        </select>
                    </div>
                </div>

                <!-- <nb-card>
                    <nb-card-header>Select</nb-card-header>
                    <nb-card-body>
                        <nb-select>
                            <nb-option value="1">Option 1</nb-option>
                            <nb-option value="2">Option 2</nb-option>
                        </nb-select>
                    </nb-card-body>
                </nb-card> -->
              
                <div class="form-group row offset-sm-3">
                    <div *ngIf="isAddPage">
                        <button type="submit" nbButton status="primary" (click)="addItem()" [disabled]="additemform.invalid || loading">Add</button>
                    </div>
                    <div *ngIf="!isAddPage">
                        <button type="submit" nbButton status="primary" (click)="addItem()" [disabled]="additemform.invalid || loading">Update</button>
                    </div>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</body>
</html>
