<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<h2>View Usage</h2>
<body [class.makeblur]='loading'>
    <div class="alertWrapper">
        <div *ngIf="errorAlert">
            <nb-alert class="alert-center" status="danger">
                <div class="alertMessage">
                    <div class="msgDiv">{{message}}</div>
                    <div class="msgDiv closeDiv">
                        <a (click)="closeMessage()"><nb-icon icon="close-outline"></nb-icon></a>
                    </div>
                </div>
            </nb-alert>
        </div>
        <div *ngIf="successAlert">
            <nb-alert class="alert-center" status="success">
                <div class="alertMessage">
                    <div class="msgDiv">{{message}}</div>
                    <div class="msgDiv closeDiv">
                        <a (click)="closeMessage()"><nb-icon icon="close-outline"></nb-icon></a>
                    </div>
                </div>
            </nb-alert>
        </div>
    </div>
    
    <div class="datatableWrapper">
        <table id="datatable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered nowrap">
            <thead>
                <tr>
                    <th>Engineer name</th>
                    <th>Item name</th>
                    <th>Quantity</th>
                    <th>Warranted</th>
                    <th>Usage date</th>
                    <th>Bill number</th>
                    <th>Amount</th>
                    <th>Service charge</th>
                    <th>Party name</th>
                    <th>City</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="usageList.length > 0">
                <tr *ngFor="let usage of usageList">
                    <td>{{usage.Engineer.EngineerName}}</td>
                    <td>{{usage.Item.ItemName}}</td>
                    <td>{{usage.QuantityUsed}}</td>
                    <td>{{usage.Warranty}}</td>
                    <td>{{usage.UsageDate | date:'dd-MM-yyyy'}}</td>
                    <td>{{usage.BillNumber}}</td>
                    <td>{{usage.Amount}}</td>
                    <td>{{usage.ServiceCharge}}</td>
                    <td>{{usage.PartyName}}</td>
                    <td>{{usage.City.CityName}}</td>
                    <td>
                        <a (click)="editUsage(usage)" [class.disabled]="role == 'engineer'">
                            <nb-icon icon="edit-outline" title="Update"></nb-icon>
                        </a>
                        <a (click)="deleteUsage(usage.UsageID)" [class.disabled]="role == 'engineer'">
                            <nb-icon icon="trash-2-outline" title="Delete"></nb-icon>
                        </a>
                        <a (click)="reportDefect(usage)" [class.disabled]="role == 'engineer'">
                            <nb-icon icon="alert-triangle-outline" title="Report defect"></nb-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
